---
---

body {
  font-family: "Roboto Mono", monospace;
}
a {
  color: white;
  text-decoration: none;
}
body {
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url(/images/gradient.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  background: linear-gradient(-100deg, #ffd3d2 0%, #f66f8e 23%, #80a0e9 100%);
}
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  margin-top: 10px;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr {
  margin: auto;
  width: 40%;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.brand img {
  vertical-align: middle;
  margin-right: 14px;
}
.footer {
  position: fixed;
  bottom: 0;
}
#flipdown {
    margin-left: 10%;
}
