---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="container">
  <a href="/blog"><span class="iconify mr-1" data-icon="bi:arrow-left" data-inline="false"></span>Back to Blog</a>
  <p class="mt-2">{{ page.date | date_to_string }} - {{ page.author }}</p>

  {{ content }}
  <div class="row">
    <div class="col text-left">
      {% if page.previous.url %} <a href="{{page.previous.url | remove: ".html"}}">« {{page.previous.title}}</a> {% endif %}
    </div>

    <div class="col text-right">
      {% if page.next.url %}<a href="{{page.next.url | remove: ".html"}}"> {{page.next.title}} »</a> {% endif %}
    </div>
  </div>
  {% if site.related_posts.size >= 1 %}
<div>
  <h3>Related Posts</h3>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url | remove: ".html"}}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

</div>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.1/build/styles/github.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
